/* RESET BASICO*/
*{
    margin: 0PX;
    padding: 0PX;
    box-sizing: border-box;
}

/* INICIO - PERSONALIZACION PARA MI PÁGINA*/

.logo-mercado{
    block-size: 60px;
    text-align: center;
    background-color: yellow;
    text-align: left;
    padding: 0px;
    border: 0px;
    margin: 0px;
}

.top-banner p{
    font-family:Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: white;
}

.barra-busqueda{
    background-color: rgb(212, 132, 40);
    padding: 0px;
    display: inline-block;

}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center; /* Centra verticalmente los elementos en el eje cruzado */
  gap: 70px; /* Espacio entre elementos */
  background-color: yellow;
  padding: 10px;
}

.item1 {

  background-color: white;
  color: black;
  padding: 0px;
  border-radius: 10px;
  width: 500px;
  height: 50px;
  display: flex;
  align-items: center;
}

.item1 input { /*PARA QUE EL INPUT OCUPE TODO EL ESPACIO DE ITEM1*/
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    border-radius: 1px;
    padding-left: 15px;
    font-size: 16px;
    text-align: center;
}

.item2 {
    background-color: rgb(18, 18, 137);
    color: white;
    padding: 13px;
    text-align: center;
    width: 200px;
    height: 50px;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;             /* centra el texto verticalmente */
    align-items: center;       /* centra el texto verticalmente */
    justify-content: center;   /* centra el texto horizontalmente */
    border-radius: 50px 0 0 50px;
}

.item3 {
    background-color: white;
    color: rgb(18, 18, 137);
    padding: 13px;
    text-align: center;
    width: 250px;
    height: 50px;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;             /* centrar el texto verticalmente */
    align-items: center;       /* centrar el texto verticalmente */
    justify-content: center;   /* centrar el texto horizontalmente */
    border-radius: 0 50px 50px 0;
}

.caja-oferta {
    display: flex;
    align-items: center;
    gap: 0px !important;
}





/*FIN - PERSONALIZACION PARA MI PÁGINA*/


body{
  /* fuente traida desde google fonts */
  font-family: "Lexend", sans-serif;
  background-color: white;
}

header, main{
    width: 100%;
    margin: 0 auto;
}

.top-banner{
    background-color: rgb(177, 19, 177);
    text-align: center;
    padding: 6px 10px;
    font-size: 24px;
    text-transform: capitalize;
}

.nav-principal{
    background-color:yellow;
    padding: 15px 25px;
    max-width: 100%;
    margin: 0 auto;
    position: sticky;   /*ESTE STICKY Y Z INDEX ME PERMITE HACER UN MENU FIJO*/
    top: 0;
    z-index: 1000;

    /*AGREGANDP FLEXBOX*/
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    font-size: 20px;
    font-family:'Lucida Sans';
}

h2{
    font-size: 20px;
    margin-bottom: 10px;
}



/*.nav-lista li{
    text-align: center;
    color: white;
    display: inline-block;
    background-color: rgb(147, 204, 176);
    padding: 5px;
    border: 10px;
    margin: 10px;
}*/

li{
    text-align: center;
    color: rgb(0, 0, 0);
    display: inline-block;
    background-color: yellow;
    padding: 10px;
}


/* #contacto{
    background-color: #f95c93;
    padding: 12px 14px 5px 8px;

    margin: 10px 10px 5px 10px;

    /*
    padding-top: 12px;
    padding-right: 14px;
    padding-bottom: 5px;
    padding-left: 8px;

    margin-top: 10px;
    margin-right: 12px;
    margin-bottom: 20px;
    margin-left: 2px; */ /* }
*/

/*MENU DE NAVEGACION*/
.nav-lista{
    list-style: none;

    /*Aagregando estilos*/
    display: flex;
    gap: 20px;
    align-items: center;

}

/*ESTILOS DE LOS ENLACES DEL MENU*/
.nav-lista a{
    text-decoration: none;
    color: #4b004b;
    font-weight: bold;
    transition: .3s;
}

.nav-lista a:hover{
    color: rgb(212, 212, 2); /* COLOR CUANDO PASAS EL CURSOSR*/
}

/*CONTENEDOR DE PRODUCTOS*/
.catalogo-contenedor{
    padding: 20px;

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

}

/* TARJETA DEL PRODUTO */
.producto-tarjeta{
    background: #b0f018;
    border-radius: 15px;
    overflow: hidden;
    padding-bottom: 20px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    transition: transform .2s ease, box-shadow .2s ease;
    text-align: center;
    position: relative; /*SE NECESITA PARA QUE ÑA PADGE ABSOLUTA SE POSCIONE DENTRO*/

    float: 1 1 240px; /*Ocupa minimo los 240px y puede crecer y encoger*/
}

.producto-tarjeta:hover{
    transform: translateY(-6px);
    box-shadow: 0px 10px 20px rgba(0,0,0,0.15);
}

/* IMAGEN */
.producto-img{
    width: 100%;
    height: 220px;
    object-fit: contain;
    background-color: #fafafa;
    padding: 10px;
}

/* TEXTO */
.producto-titulo{
    font-size: 22px;
    font-weight: 700;
    margin-top: 10px;
}

.producto-desc{
    font-size: 14px;
    color: #6d4c41;
    margin: 10px 15px;
}

.producto-precio{
    font-size: 18px;
    font-weight: bold;
    color: #ff4b4b;
    margin-bottom: 10px;
}

/* BOTÓN */
.producto-btn{
    background: #fd0303;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    transition: .3s ease;
    font-size: 15px;
    font-weight: bold;
}

.producto-btn:hover{
    background: #510f2d;
}

.producto-badge{
    position: absolute;
    background-color: greenyellow;
    top: 15px;
    left: 10px;
    color: white;
    padding: 5px 12px;
    border-radius: 20px;
}

/*SECCIONES GENERALES*/
section{
    padding: 25px;
}

h2{
    font-size: 20px;
    margin-bottom: 10px;
}

ul{
    padding-left: 20px;
    margin: 10px 0;
}

li{
    margin-bottom: 6px;
}

/* CONTACTO EN DOS COLUMNAS*/
.contacto-section{
    margin-top: 40px;
    display: flex;
    gap: 20px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.contacto-contenido,
.contacto-aside{
    flex:  1 1 280px;
}
/*FORMULARIO*/
.form-contacto{
    background: white;
    padding: 20px;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

/*INPUTS y textarea del formulario*/
.form-contacto input,
.form-contacto textarea{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

/*FOOTER*/
footer{
    text-align: center;
    padding: 15px;
    margin-top: 30px;
    background-color:antiquewhite;
    color: #4b004b;
}

/*
p{
    color: #1d0e5a !important;
}
p{
    color: greenyellow;
}
p{
    color: #e04714;
}*/

/*BOTON FLOTANTE POSITION FIXED*/
.boton-carrito{
    position: fixed;
    bottom: 25px;
    right: 25px;
    background-color: red;
    font-weight: bold;
    text-decoration: none;
    border-radius: 50px;
    font-size: 16px;
    padding: 12px 20px;
    color: white;
    z-index: 1500px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
    transition: .2s ease-in-out;
}

.boton-carrito:hover{
    background-color: #691d04;
}