/* RESET BASICO*/
*{
    margin: 0PX;
    padding: 0PX;
    box-sizing: border-box;
}

body{
  /* fuente traida desde google fonts */
  font-family: "Lexend", sans-serif;
  background-color: rgb(108, 240, 141);

}

section{
    padding: 25px;
}

h2{
    font-size: 20px;
    margin-bottom: 10px;
}

.nav-lista li a {
    color: rgb(47, 235, 53);
    text-decoration: none;
    display: block;
}

li{
    text-align: center;
    color: white;
    display: inline-block;
    background-color: rgb(159, 161, 160);
    padding: 10px;
    border: 15px;
    margin: 12px;
}






.nav-principal{
    padding: 15px 25px;
    background-color:darkgreen
}
/* #contacto{
    background-color: #f95c93;
    padding: 12px 14px 5px 8px;

    margin: 10px 10px 5px 10px;

    /*
    padding-top: 12px;
    padding-right: 14px;
    padding-bottom: 5px;
    padding-left: 8px;

    margin-top: 10px;
    margin-right: 12px;
    margin-bottom: 20px;
    margin-left: 2px; */ /* }
*/

/*CONTENEDOR DE PRODUCTOS*/
.catalogo-contenedor{
    padding: 20px;
}

/* TARJETA DEL PRODUTO */
.producto-tarjeta{
    background: #b7aeb5;
    border-radius: 15px;
    overflow: hidden;
    padding-bottom: 20px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    transition: transform .2s ease, box-shadow .2s ease;
    text-align: center;
}

.producto-tarjeta:hover{
    transform: translateY(-6px);
    box-shadow: 0px 10px 20px rgba(0,0,0,0.15);
}

/* IMAGEN */
.producto-img{
    width: 100%;
    height: 220px;
    object-fit: contain;
    background-color: #fafafa;
    padding: 10px;
}

/* TEXTO */
.producto-titulo{
    font-size: 22px;
    font-weight: 700;
    margin-top: 10px;
}

.producto-desc{
    font-size: 14px;
    color: #6d4c41;
    margin: 10px 15px;
}

.producto-precio{
    font-size: 18px;
    font-weight: bold;
    color: #ff4b4b;
    margin-bottom: 10px;
}

/* BOTÓN */
.producto-btn{
    background: #fd0303;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    transition: .3s ease;
    font-size: 15px;
    font-weight: bold;
}

.producto-btn:hover{
    background: #e00064;
}

/*SECCIONES GENERALES*/

section{
    padding: 25px;
}

h2{
    font-size: 20px;
    margin-bottom: 10px;
}

ul{
    padding-left: 20px;
    margin: 10px 0;
}

li{
    margin-bottom: 6px;
}

/* CONTACTO EN DOS COLUMNAS*/
.contacto-section{
    margin-top: 40px;
}

/*FORMULARIO*/
.form-contacto{
    background: white;
    padding: 20px;
    border-radius: 15px;
}

/*INPUTS y textarea del formulario*/
.form-contacto input,
.form-contacto textarea{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

/*FOOTER*/
footer{
    text-align: center;
    padding: 15px;
    margin-top: 30px;
    background-color:antiquewhite;
    color: #4b004b;
}


p{
    color: #1d0e5a !important;
}
p{
    color: greenyellow;
}
p{
    color: #e04714;
}