/* RESET BASICO*/
*{
    margin: 0PX;
    padding: 0PX;
    box-sizing: border-box;
}

/* INICIO - PERSONALIZACION PARA MI PÁGINA*/
.logo-mercado{
    block-size: 60px;
    text-align: center;
    background-color: yellow;
    text-align: left;
    padding: 0px;
    border: 0px;
    margin: 0px;
}

.top-banner p{
    text-transform: uppercase;
    color: white;
    font-weight: 400;
    font-size: 16px;
}

.barra-busqueda{
    background-color: rgb(212, 132, 40);
    padding: 0px;
    display: inline-block;

}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center; /* Centra verticalmente los elementos en el eje cruzado */
  gap: 70px; /* Espacio entre elementos */
  background-color: yellow;
  padding: 10px;
}

.item1 {

  background-color: white;
  color: black;
  padding: 0px;
  border-radius: 10px;
  width: 500px;
  height: 50px;
  display: flex;
  align-items: center;
}

.item1 input { /*PARA QUE EL INPUT OCUPE TODO EL ESPACIO DE ITEM1*/
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    border-radius: 1px;
    padding-left: 15px;
    font-size: 16px;
    text-align: center;
}

.item2 {
    background-color: rgb(18, 18, 137);
    color: white;
    padding: 13px;
    text-align: center;
    width: 200px;
    height: 50px;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;             /* centra el texto verticalmente */
    align-items: center;       /* centra el texto verticalmente */
    justify-content: center;   /* centra el texto horizontalmente */
    border-radius: 50px 0 0 50px;
}

.item3 {
    background-color: white;
    color: rgb(18, 18, 137);
    padding: 13px;
    text-align: center;
    width: 250px;
    height: 50px;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;             /* centrar el texto verticalmente */
    align-items: center;       /* centrar el texto verticalmente */
    justify-content: center;   /* centrar el texto horizontalmente */
    border-radius: 0 50px 50px 0;
}

.caja-oferta {
    display: flex;
    align-items: center;
    gap: 0px !important;
}

.menu{
    display: flex;
    align-items: center;
    gap: 0px !important
}

/*FIN - PERSONALIZACION PARA MI PÁGINA*/

/*INICIO PERSONALIZACION PARTE II*/
.container-portada{
    display: flex;
    text-align: center;
    align-items: center;
    background-color: aqua;
}

.fondo{
    width: 100%;
}

.contenedor-compra {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
}

.full {
    width: 250px;
    height: auto;
    object-fit: contain;
}

.beneficios {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 40px 20px;
}

.item {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: white;
    color: black;
    padding: 10px;
    width: auto;
    max-width: 350px;
    text-align: left;
}

.icono-beneficio {
    width: 60px;
    height: 60px;
    background-color: #f5f0ff;
    border-radius: 10px;
    padding: 12px;
    object-fit: contain;
}

#entregas li{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: #1a4fef !important;
    color: white;
}

.categorias{
    background-color: #ffffff;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.items{
    flex-direction: row;
    background-color:#0f7bff;
    justify-content: space-between;
    margin: 10px;
    border-radius: 9px;

}

#acerca{
    text-align: center;
}



/*FIN PERSONALIZACION*/

body{
  /* fuente traida desde google fonts */
  font-family: "Montserrat", sans-serif;
  background-color: white;
}

header, main{
    width: 100%;
    margin: 0 auto;
}

.top-banner{
    background-color: rgb(177, 19, 177);
    text-align: center;
    padding: 6px 10px;
    font-size: 24px;
    text-transform: capitalize;
}

.nav-principal{
    background-color:yellow;
    padding: 15px 25px;
    margin: 0 auto;
    position: sticky;   /*ESTE STICKY Y Z INDEX ME PERMITE HACER UN MENU FIJO*/
    top: 0;
    z-index: 1000;

    /*AGREGANDP FLEXBOX*/
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    font-size: 20px;
    font-family:'Lucida Sans';
}

h2{
    font-size: 20px;
    margin-bottom: 10px;
}



/*.nav-lista li{
    text-align: center;
    color: white;
    display: inline-block;
    background-color: rgb(147, 204, 176);
    padding: 5px;
    border: 10px;
    margin: 10px;
}*/

li{
    text-align: center;
    color: rgb(0, 0, 0);
    display: inline-block;
    background-color: yellow;
    padding: 10px;
}


/* #contacto{
    background-color: #f95c93;
    padding: 12px 14px 5px 8px;

    margin: 10px 10px 5px 10px;

    /*
    padding-top: 12px;
    padding-right: 14px;
    padding-bottom: 5px;
    padding-left: 8px;

    margin-top: 10px;
    margin-right: 12px;
    margin-bottom: 20px;
    margin-left: 2px; */ /* }
*/

/*MENU DE NAVEGACION*/
.nav-lista{
    list-style: none;

    /*Aagregando estilos*/
    display: flex;
    gap: 20px;
    align-items: center;

}

/*ESTILOS DE LOS ENLACES DEL MENU*/
.nav-lista a{
    text-decoration: none;
    color: #4b004b;
    font-weight: bold;
    transition: .3s;
}

.nav-lista a:hover{
    color: blue; /* COLOR CUANDO PASAS EL CURSOSR*/
}

/*CONTENEDOR DE PRODUCTOS*/
.catalogo-contenedor{
    padding: 20px;

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

}

/* TARJETA DEL PRODUTO */
.producto-tarjeta{
    background: white;
    border-radius: 15px;
    overflow: hidden;
    padding-bottom: 20px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    transition: transform .2s ease, box-shadow .2s ease;
    text-align: center;
    position: relative; /*SE NECESITA PARA QUE ÑA PADGE ABSOLUTA SE POSCIONE DENTRO*/

    float: 1 1 240px; /*Ocupa minimo los 240px y puede crecer y encoger*/
}

.producto-tarjeta:hover{
    transform: translateY(-6px);
    box-shadow: 0px 10px 20px rgba(0,0,0,0.15);
}

/* IMAGEN */
.producto-img{
    width: 100%;
    height: 220px;
    object-fit: contain;
    background-color: #fafafa;
    padding: 10px;
}

/* TEXTO */
.producto-titulo{
    font-size: 22px;
    font-weight: 700;
    margin-top: 10px;
}

.producto-desc{
    font-size: 14px;
    color: black;
    margin: 10px 15px;
}

.producto-precio{
    font-size: 18px;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
}

/* BOTÓN */
.producto-btn{
    background: #0f7bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    transition: .3s ease;
    font-size: 15px;
    font-weight: bold;
}

.producto-btn:hover{
    background: #28aef0;
}

.producto-badge{
    position: absolute;
    background-color: rgb(21, 38, 224);
    top: 15px;
    left: 10px;
    color: white;
    padding: 5px 12px;
    border-radius: 20px;
}

/*SECCIONES GENERALES*/
section{
    padding: 25px;
}

h2{
    font-size: 20px;
    margin-bottom: 10px;
}

ul{
    padding-left: 20px;
    margin: 10px 0;
}

li{
    margin-bottom: 6px;
}

/* CONTACTO EN DOS COLUMNAS*/
.contacto-section{
    margin-top: 40px;
    display: flex;
    gap: 20px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.contacto-contenido,
.contacto-aside{
    flex:  1 1 280px;
}
/*FORMULARIO*/
.form-contacto{
    background: white;
    padding: 20px;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

/*INPUTS y textarea del formulario*/
.form-contacto input,
.form-contacto textarea{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

/*FOOTER*/
footer{
    text-align: center;
    padding: 15px;
    margin-top: 30px;
    background-color:antiquewhite;
    color: #4b004b;
}

/*
p{
    color: #1d0e5a !important;
}
p{
    color: greenyellow;
}
p{
    color: #e04714;
}*/

/*BOTON FLOTANTE POSITION FIXED*/
.boton-carrito{
    position: fixed;
    bottom: 25px;
    right: 25px;
    background-color: red;
    font-weight: bold;
    text-decoration: none;
    border-radius: 50px;
    font-size: 16px;
    padding: 12px 20px;
    color: white;
    z-index: 1500px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
    transition: .2s ease-in-out;
}

.boton-carrito:hover{
    background-color: #691d04;
}


/*SECCION EQUIPO*/
.equipo-section{
    text-align: center;
    padding: 40px 25px;
}

.equipo-section p{
    max-width: 700px;
    margin: 0 auto 20px;

}

.equipo-contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 60px;

}

.equipo-card{
    background-color: #ccc;
    width: 280px;
    padding: 60px 20px 30px;
    border-radius: 20px;
    box-shadow: 0px 8px 25px rgba(0,0,0,0.15);
    text-align: center;
    /*FLEX INTERNO*/
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

}

.equipo-foto{
    width: 130px;   /*ANCHO Y ALTO DE LA FOTO Y OBJECT FIT PARA QUE SE VEAN BIEN*/
    height: 130px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid white;

    position: absolute;
    top: -55px;
    left: 50%;
    transform: translateX(-50%);
}

.equipo-card h3{
    margin-top: 15px;
    color: rgb(28, 45, 31);
    font-size: 20px;
}

.equipo-rol{
    font-size: 14px;
    color: rgb(12, 28, 206);
    margin-top: 10px;

}

.equipo-desc{
    font-size: 14px;
    color: #691d04;
    line-height: 1;
}

/* DISEÑO RESPONSIVO */

@media screen and (max-width: 1024px){
    .nav-principal{
        padding: 12px 16px;
    }

    .producto-tarjeta{
        flex:  1 1 260px;
    }

    .equipo-card{
        width: 260px;
    }
}

@media screen and (max-width: 768px){
    .top-banner{
        font-size: 12px;
        padding:  8px 12px;
    }

    .nav-principal{
        justify-content: center;
        gap: 12px;
        padding: 12px 14px;
    }

    .logo{
        font-size: 20px;
        text-align: center;
        width: 100%;
    }

    .nav-lista{
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        gap: 12px 16px;
    }

}